.mada{
    background-color:#009688;

}
.mada1{

    width: 60px;
}
.mio{
    width:100%;
    height:700px;
}
.img{
    width:100%;
    height:360px;
    border-radius: 10px;
    /* margin:10px; */
}
.image{
    width:100%;
    height:200px;
}
.mi{
    width:46px;
    height:46px;
    border-radius:60px;
    background-color: white;
}
.mhd::after{
    content: "";
    height: 5px;
    background-color: orange;
    width: 20%;
    display: block;
    margin-top: 2%;
}
.mhd1::after{
    content: "";
    height: 5px;
    background-color: orange;
    width: 8%;
    display: block;
    margin-top: 1%;
}

@media screen and (max-width: 768px) {

.img{
    width: 100%;
    height:500px;

}
.image{
    width:100%;
}
}